.timeline-element-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}
.timeline-track {
  background-color: #3d5af1;
  flex-grow: 1;
  height: 1px;
  width: 100px;
}
.timeline-element-date {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 800;
  margin-bottom: 0.5rem /* 8px */;
  white-space: nowrap;
  color: #3d5af1;
}
.timeline-element-button-parent {
  background-color: white;
  border: 2px solid #22d1ee;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-element-button-child {
  background-color: #22d1ee;
  border-radius: 100%;
  width: 16px;
  height: 16px;
}
.timeline-element-details {
  display: flex;
  flex-direction: column;
}
